<div class="row form-wrapper">
	<div class="col-md-4 col-sm-4"></div>
	<div class="col-md-4 col-sm-4">

		<div class="search">
			<div class="search-option p-lg-30 p-b-lg-15 p-b-sm-30 p-r-sm-45 p-xs-15">

				<h4 class="input-name">Login</h4>

				<form #f="ngForm" novalidate (ngSubmit)="login(f)">
					<div class="select-wrapper">
						<div class="form-group">
							<label for="email" class="input-name">Email</label>
							<input id="email" type="text" required name="email" [ngModel]="credentials.email" #email="ngModel" tmFocus validateEmail
							class="form-control" placeholder="Email">

							<small [hidden]="email.valid || (email.pristine && !submitted)" class="text-danger">
								Please enter a valid email
							</small>
						</div>
					</div>
					
					<div class="select-wrapper">
						<div class="form-group">
							<label for="password" class="input-name">Password</label>
							<input id="password" type="password" required name="password" class="form-control" placeholder="Password" ngModel>
						</div>
					</div>
					
					<div class="">
						<div class=" text-center">
							<button type="submit" class="btn btn-default text-center" [disabled]="f.invalid || isRequesting">SIGN IN</button>
						</div>
					</div>
					
					<div class="m-t-lg-20 input-name errors" *ngIf="errors">
						<p>{{errors}}</p>
					</div>
				</form>
			</div>
		</div>
	</div>