
.background{
	background-color: rgb(255, 255, 255);
}
.vehicleList{
	background-color: rgb(255, 254, 254) ;
}

li {
	margin: 0;
	padding: 0;
}
.vehicle-item{
	padding: 5% 0%;
	border-bottom-color: rgba(77, 62, 62, 0.363);
	border-bottom-width: 0.5px;
	border-bottom-style: solid;
}
ul{
	list-style: none;
}
.picture{
	width: 100%;
	
}