<div class=" m-t-sm-20">
	<div class="container search">
		<div class="search-option p-lg-30 p-b-lg-15 p-b-sm-30 p-r-sm-45 p-xs-15">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="col-sm-4 col-md-4 col-lg-4 m-b-lg-15 p-r-lg-0 p-r-xs-15">
							<div class="select-wrapper">
								<div class="dropdown">
									<button class="dropdown-toggle form-item" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="make"  name="selectedMake"> <span *ngIf="selectedMake;else noMake">{{selectedMake.name}}</span> <ng-template #noMake>Make</ng-template> </button>
									<ul class="dropdown-menu scrollable-menu">
										<li (click)="clearMake()"> Clear</li>
										<li *ngFor="let m of makes" (click)="makeChange( m.id )" value="{{m.id}}">{{m.name}} <span class="pull-right" *ngIf="m.totalNumber"> {{m.totalNumber}}</span></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-4 col-md-4 col-lg-4 m-b-lg-15 p-r-lg-0 p-r-xs-15">
							<div class="select-wrapper">
								<div class="dropdown">
									<button class="dropdown-toggle form-item" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="model" name="selectedModel"><span *ngIf="selectedModel;else noModel">{{selectedModel.name}}</span>
									<ng-template #noModel>Model</ng-template></button>
									<ul *ngIf="models.length > 0" class="dropdown-menu scrollable-menu">
										<li (click)="clearModel()"> Clear</li>
										<li *ngFor="let m of models" (click)="changeModel( m.id )" value="{{m.id}}">{{m.name}}</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-4 col-md-4 col-lg-4 col-lg-4 m-b-lg-15 p-r-lg-0 p-r-xs-15">
							<div class="select-wrapper">
								<div class="dropdown">
									<button class="dropdown-toggle form-item" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{sortingParam.name}}</button>
									<ul class="dropdown-menu">
										<li (click)="changeSortParam( 'Year', 'yearMade', 'desc' )" value="yearMade">Year</li>
										<li (click)="changeSortParam( 'Price', 'price', asc )" value="price">Price</li>
										<li (click)="changeSortParam( 'Last Update', 'lastUpdateParsed', desc )" value="lastUpdateParsed">Last Update</li>
										<li (click)="changeSortParam( 'Mileage', 'mileage', asc )" value="mileage">Mileage</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="wrap-body">
		<div class="container">
			<div class="wrap-body-inner p-t-lg-30">
				<div class="p-t-lg-30">
					<div class="heading">
						<h3>
							INVENTORY
						</h3>
						<span></span>
					</div>
					<div class="row">
						<div *ngFor="let v of vehicles" class="col-sm-6 col-md-4 col-lg-4 ">
							<div class="col-md-12 col-lg-12 col-sm-12 product">
								<a [routerLink]="['/vehicles/', v.id]">
									<div class="picture" *ngIf="v.photos && v.photos[0];else noPicture">
										<img class="img-responsive" src="/uploads/{{v.photos[0].fileName}}" alt="No picture">
									</div>
									<ng-template #noPicture>
										<div class="picture">
											<img class="img-responsive" src="../../../assets/qt-car-thumb.jpg" alt="No picture">
										</div>
									</ng-template>
								</a>
								<div class="product-caption">
									<h4 class="product-name">
										<a [routerLink]="['/vehicles/', v.id]">
											{{ v.yearMade }} {{ v.make.name }} {{ v.model.name }}
										</a>
										<span class="pull-right product-price">${{v.price | number}}</span>
									</h4>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<br>
	</div>
</div>



<!-- <div class="container">
	<div class="row margin-drop">
		<div class="col-sm-3">
			<div class="filter-panel">
				<div class="well">
					<div class="form-group">
						<label for="make">Make</label>
						<select id="make" class="form-control" (change)="onMakeChange()" [(ngModel)]="selectedMake" name="selectedMake" required
						 #make="ngModel">
							<option value=""></option>
							<option *ngFor="let m of makes" value="{{ m.id }}">{{ m.name }}
								<span *ngIf="m.totalNumber"> - {{m.totalNumber}}</span>
							</option>
						</select>
					</div>
					<div class="form-group" *ngIf="selectedMake">
						<label for="model">Model</label>
						<select id="model" (change)="filterCars()" class="form-control" [(ngModel)]="selectedModel" name="selectedModel" required
						 #model="ngModel">
							<option value=""></option>
							<option *ngFor="let m of models" value="{{ m.id }}">{{ m.name }} </option>
						</select>
					</div>
				</div>
				<div class="well">
					<div class="form-group">
						<label for="sortBy">Sort By</label>
						<select id="sortBy" class="form-control" (change)="onSortByChange()" [(ngModel)]="sortingParam" name="sortBy" #sortBy="ngModel">
							<option value="yearMade">Year</option>
							<option value="price">Price</option>
							<option value="lastUpdateParsed">Last Update</option>
							<option value="mileage">Mileage</option>
						</select>
					</div>
					<div class="form-group" *ngIf="sortingParam">
						<label for="sortBy">Order</label>
						<select id="sortBy" class="form-control" (change)="onSortByChange()" [(ngModel)]="sortAsc" name="sortBy" #sortBy="ngModel">
							<option value="desc">High to Low</option>
							<option value="asc">Low to High</option>
						</select>
					</div>
				</div>
				<a [routerLink]="['/vehicles/new']" style="width: 100%" class="btn btn-primary">Add Vehicle</a>
			</div>
		</div>
		<div class="col-sm-9">
			<ul class="vehicleList ">
				<li class="row vehicle-item" *ngFor="let v of vehicles">
					<div class=" ">
						<div class="col-md-5">
							<div *ngIf="v.photos && v.photos[0];else noPicture" class="">
								<img src="/uploads/{{v.photos[0].fileName}}" class="img-responsive" alt="No picture">
							</div>
							<ng-template #noPicture>
								<img src="../../../assets/qt-car-thumb.jpg" class="img-responsive" alt="No picture">
							</ng-template>
						</div>
						<div class="col-md-4 col-xs-6">
							<h3 class="title">{{ v.yearMade }} {{ v.make.name }} {{ v.model.name }}</h3>
							<p>Mileage: {{ v.mileage }}</p>
							<p>Color: {{ v.color }}</p>
							<p>VIN: {{ v.vinNumber }}</p>
						</div>
						<div class="col-md-1 col-xs-6">
							<h3>${{v.price | number }}</h3>
							<a class="btn btn-primary" [routerLink]="['/vehicles/', v.id]">View Details</a>
							<br>
							<a *ngIf="status" class="btn btn-primary" [routerLink]="['/vehicles/edit/', v.id]">Edit</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div> -->