body{
	background-image: url('../../../assets/Seattle.jpeg');
	background-color: rgb(24, 23, 23);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: top;
	min-height: 100vh;
}