body{
	background-image: url('../../../assets/Seattle.jpeg');
	background-color: rgb(24, 23, 23);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	position: top;
	min-height: 100vh;
}
	@media (max-width: 767px) {
		body{
		background-size: initial;
		background-position: initial;
		background-size: 200vh 200vh;
		
		/* width: */
		background-attachment: scroll;	
		}
	}