<div class="margin">
	<div class="container">
		<footer class="text-center">
			<h1 class="">Contacts</h1>
			<div class="col-sm-6">
				<p>Phone:
					<span>{{contacts.phone}}</span>
				</p>
				<p>Address:
					<span>{{contacts.street}}</span>
					<span>{{contacts.city}}</span>
					<span>{{contacts.zipCode}}</span>
				</p>
			</div>
			<div class="col-sm-6">
				<p>
					<a class="social" href="{{contacts.facebookUrl}}">
						<span class="fa fa-facebook"></span>
					</a>
					Check us out on Facebook
				</p>
				<p>
					<a class="social" href="{{contacts.instagramUrl}}">
						<span class="fa fa-instagram"></span>
					</a>
					Follow us on Instagram
				</p>
			</div>
		</footer>
	</div>
</div>
