<footer id="wrap-footer" class="bg-gray color-inner">
	<div class="footer-top">
		<div class="container">
			<div class="p-l-r">
				<div class="row">
					<div class="col-xs-12 col-md-12 col-lg-12">
						<div class="heading">
							<h3>COMPANY INFO</h3>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod temp incidunt ut .</p>
							<ul class="list-default">
								<li>
									<i class="fa fa-map"></i>
									<span> {{contacts.street}}</span>
									<span>{{contacts.city}}</span>
									<span>{{contacts.zipCode}}</span>
								</li>
								<li>
									<i class="fa fa-phone"></i><span> {{contacts.phone}}</span>
								</li>
								<li>
									<i class="fa fa-envelope-o"></i><span> Our Email</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>