<footer id="wrap-footer" class="bg-gray color-inner">
	<div class="footer-top">
		<div class="container">
			<div class="p-l-r">
				<div class="row">
					<div class="col-xs-12 col-md-12 col-lg-12">
						<div class="heading">
							<h3>COMPANY INFO</h3>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod temp incidunt ut .</p>
							<ul class="list-default">
								<li>
									<span class="fa fa-map"></span>
									<span> {{contacts.street}}</span>
									<span>{{contacts.city}}</span>
									<span>{{contacts.zipCode}}</span>
								</li>
								<li>
									<span class="fa fa-phone"></span><span> {{contacts.phone}}</span>
								</li>
								<li>
									<span class="fa fa-envelope-o"></span><span> Our Email</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<!-- <div class="margin">
	<div class="container">
		<footer class="">
			<h1 class="text-center">Contacts</h1>
			<br>
			<div class="col-xs-6">
				<br>
				<p>Phone:
					<span>{{contacts.phone}}</span>
				</p>
				<p>Address:
					<span>{{contacts.street}}</span>
					<span>{{contacts.city}}</span>
					<span>{{contacts.zipCode}}</span>
				</p>
			</div>
			<div class="col-xs-6">
				<p>
					<a class="social" href="{{contacts.facebookUrl}}"><span class="fa fa-facebook"></span>
					</a>
					Check us out on Facebook
				</p>
				<p>
					<a class="social" href="{{contacts.instagramUrl}}"><span class="fa fa-instagram"></span>
					</a>
					Follow us on Instagram
				</p>
			</div>
		</footer>
	</div>
</div> -->
